
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
*{
    margin: 0px;
}

header{
    width: 100%;
    height: 80px;
    background-color: teal;
    margin-top: -15px;
    position: sticky
    }

header h1{
    color: white;
    font-size: 32px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    padding: 22px;
    margin-left: 4px;
  
  }


  ul{
      float: right;
      width: auto;
      margin-top: -58px;
  }
 
li{
display: inline-block;
margin: auto;
}

header a{
    color: white;
    float: right;
    text-align: center;
    margin-top: 7px;
    font-size: 20px;
    margin-right: 15px;
   text-decoration: none;
}